<app-header></app-header>
<router-outlet></router-outlet>
<main>
    <section id="services">
        <h2>Servicios de Reserva</h2>
        <p>El hotel cuenta con habitaciones para 2 y 3 personas:</p>
        <div class="container">
            <div class="columna izquierda">
                <h3>Habitaciones para 2 personas ofrece</h3>
                <p>1 cama doble</p>
                <div>
                    <img class="image" src="assets/imagen/cama-doble.jpg" alt="Habitación con una cama doble">
                </div>
                <h3>O</h3>
                <p>2 Camas Simples</p>
                <div>
                    <img class="image" src="assets/imagen/cama-simple.jpeg" alt="Habitación con una cama simple">
                    <img class="image" src="assets/imagen/cama-simple.jpeg" alt="Habitación con una cama simple">
                </div>
            </div>
            <div class="columna derecha">
                <h3>Habitaciones para 3 personas ofrece</h3>
                <p>1 cama doble y simple</p>
                <div>
                    <img class="image" src="assets/imagen/cama-doble.jpg" alt="Habitación con una cama doble">
                    <img class="image" src="assets/imagen/cama-simple.jpeg" alt="Habitación con una cama simple">
                </div>
                <h3>O</h3>
                <p>3 camas simples</p>
                <div>
                    <img class="image" src="assets/imagen/cama-simple.jpeg" alt="Habitación con una cama simple">
                    <img class="image" src="assets/imagen/cama-simple.jpeg" alt="Habitación con una cama simple">
                    <img class="image" src="assets/imagen/cama-simple.jpeg" alt="Habitación con una cama simple">
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
